[project]
	description = Download all the images of the Instagramers who are followed by user
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yashwant Bezawada (byashwant)
[access "refs/for/refs/*"]
	read = group user/Yashwant Bezawada (byashwant)
	push = group user/Yashwant Bezawada (byashwant)
	label-Code-Review = -2..+2 group user/Yashwant Bezawada (byashwant)
	label-Verified = -1..+1 group user/Yashwant Bezawada (byashwant)
	rebase = group user/Yashwant Bezawada (byashwant)
	removeReviewer = group user/Yashwant Bezawada (byashwant)
	submit = group user/Yashwant Bezawada (byashwant)
[access "refs/heads/*"]
	read = group user/Yashwant Bezawada (byashwant)
	create = group user/Yashwant Bezawada (byashwant)
	push = +force group user/Yashwant Bezawada (byashwant)
	pushMerge = group user/Yashwant Bezawada (byashwant)
[access "refs/tags/*"]
	push = +force group user/Yashwant Bezawada (byashwant)
	pushTag = group user/Yashwant Bezawada (byashwant)
	pushSignedTag = group user/Yashwant Bezawada (byashwant)
